*{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    margin: 10px auto;
}

main{
    width: 90%;
    margin: auto;
}

.section1{
    text-align: center;
    font-size: 18px;
    background-color: #EEEEEE;
}

input[type="submit"] {
    margin: 1px;
    padding: 2px;
}

li{
    list-style: none;
}

.section2{
    text-align: center;
}

.one{
    background-color: #7EE5DA;
    padding: 0 155px;
    margin: 2px;
}

.two{
    background-color: #70CCC2;
    padding: 0 70px;
    font-size: 14px;
}

.three{
    background-color: #62B3AA;
    padding: 0 149px;
    font-size: 14px;
}

footer{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

